@page
@model MessageModel
@{
}
<div class="container">
    <div class="row">&nbsp;</div>
    <form method="post">

        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                Message to userId:
                <input type="text" id="userId" name="userId" />
                <input type="text" id="message" name="message" />
                <input type="submit" id="sendButton" value="Send Message" />
            </div>
        </div>
    </form>
</div>